body::-webkit-scrollbar {
    display: none;
}

    .navbar a:hover {
        color: #10ebf3 !important; 
    }
    
    .navbar-brand {
        font-size: 1.9rem !important;
    }
    
    .menu_active {
        font-weight: bold;
        border-bottom: 1px solid #565387;
    }

.animated {
    animation : up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
        0% {
            transform: translateY(10px);
        }
        100% {
            transform: translateY(-10px);
        }
}
